@model IEnumerable<site1.Models.KisiselGelisim>

@{
    ViewBag.Title = "KİŞİSEL GELİŞİM KİTAPLARI";
}

<h2>KİŞİSEL GELİŞİM</h2>

<br />


<div class="row">


    @foreach (var item in Model)
    {
        <div class="col-md-4 ">
            <img src="~/ımage/@Html.DisplayFor(modelItem => item.KitapResmi)" /><br />
            <p>@Html.DisplayNameFor(model => model.KisişelGelişimKitapAdı) :@Html.DisplayFor(modelItem => item.KisişelGelişimKitapAdı)</p>
            <p>@Html.DisplayNameFor(model => model.Yazarı) :@Html.DisplayFor(modelItem => item.Yazarı)</p>
            <p>@Html.DisplayNameFor(model => model.Fiyat) :@Html.DisplayFor(modelItem => item.Fiyat)</p>
            <p>@Html.DisplayNameFor(model => model.Özeti) :@Html.DisplayFor(modelItem => item.Özeti)</p>
            
            <p><a class="btn btn-default" href="http://localhost:51640/KisiselGelisim/Index">İncele &raquo;</a></p>
        </div>
    }


</div>
