@{
    ViewBag.Title = "HAKKIMIZDA";
}
<h2>@ViewBag.Title.</h2>
<h3>Güvenli İkinci El kitap Alış Verişi</h3>

<p> Mayıs 2017 tarihinde internet üzerinde hizmet vermeye başlayan Sitemiz bir E-ticaret sitesidir. 
    Türkiye'deki kitap satıcılarını ve sahafları internet üzerinden alış-veriş yapmak isteyen kişilerle güvenli bir şekilde buluşturmak
    ve aralarında gerçekleşecek ticarete aracılık etmek amacıyla hizmet vermektedir.
    Bu amaç çerçevesinde Güvenli Ticaret Döngüsü sistemi oluşturulmuş ve böylece alış-verişin en güvenli şekilde gerçekleştirilmesi amaçlanmıştır.
    Siteye üye olan sahaf ve kitap satıcıları, siteye her gün yeni kitap, dergi vs. eklemektedir.
    Dolayısıyla yıllar önce basılmış bir kitabı veya yeni basılmış ama baskısı tükenmiş bir kitabı da bulmak her gün daha da kolaylaşmaktadır.
    Sitemizde yayınevleri veya kitap satıcıları, ürünlerini internet ortamında binlerce müşteriye en hızlı ve kolay şekilde satıma sunma avantajını yakalarken,
    kitap almak isteyenler de bu çok satıcılı ortamda almak istediği kitap, dergi vb. ürünleri en uygun fiyata bulma şansını elde ederler.</p>
