@{
    ViewBag.Title = "İLETİŞİM";
}
<h2>@ViewBag.Title.</h2>

<address>
    Kütahya / Merkez <br />
    Dumlupınar Üniversitesi<br />
    Bilgisayar Mühendisligi Bölümü<br />
    <abbr title="Phone">Telefon:</abbr>
    0531.***.****
</address>

<address>
    <strong>Mail :</strong>   <a href="https://mail.google.com">emredlklnc@gmail.com</a><br />
    <strong>Instagram:</strong> <a href="https://www.instagram.com/emredlklnc/?hl=tr">Yunus Emre Dalkılınç</a>
</address>