@{
    ViewBag.Title = "ANASAYFA";
}

<div class="jumbotron">
    <img style="border:1px solid #0094ff" src="~/ımage/bdk-banner.jpg" />   
</div>
<h3>BİLİM KURGU KİTAPLARI</h3>
<div class="row">
    <div class="acordion">
        <ul>
            <li><img src="~/ımage/anaekranrsm1.jpg" width="300" height="400" title="İKİZLER"/></li>
            <li><img src="~/ımage/anaekranrsm2.jpg" width="300" height="400" title="TİTAN'IN LANETİ"/></li>
            <li><img src="~/ımage/anaekranrsm3.jpg" width="300" height="400" title="ATHENA'NIN İŞARETİ"/></li>
            <li><img src="~/ımage/anaekranrsm4.jpg" width="300" height="400" title="LABİRENT SAVAŞI"/></li>
            <li><img src="~/ımage/anaekranrsm5.jpg" width="300" height="400" title="KİTAP GEZGİNİ"/></li>
            <li><img src="~/ımage/anaekranrsm6.jpg" width="300" height="400" title="ATEŞ TAHTI"/></li>
            <li><img src="~/ımage/anaekranrsm7.jpg" width="300" height="400" title="GÖLGELERİN EFENDİSİ"/></li>
            
        </ul>
    </div>
    <div>
        <h3 style="padding-top:335px"><p class="btn btn-default">@Html.ActionLink("İNCELE", "Index", "BilimKurgu")</p></h3>
    </div>
</div>
<hr />
<h3>DİGER KİTAPLAR</h3>
<div class="row">
    <div class="acordion">
        <ul>
            <li><a href="http://localhost:51640/TemelEserler"><img src="~/ımage/ac100.jpg" width="300" height="400" title="100 TEMEL ESER"/></a></li>
            <li><a href="http://localhost:51640/Macera"><img src="~/ımage/acmacera1.jpg" width="300" height="400" title="MACERA KİTAPLARI" /></a></li>
            <li><a href="http://localhost:51640/BilimKurgu"><img src="~/ımage/acbilim.jpg" width="300" height="400" title="BİLİM KURGU KİTAPLARI" /></a></li>
            <li><a href="http://localhost:51640/Macera"><img src="~/ımage/acmacera2.jpg" width="300" height="400" title="MACERA KİTAPLARI" /></a></li>
            <li><a href="http://localhost:51640/KisiselGelisim"><img src="~/ımage/ackisisel.jpg" width="300" height="400" title="KİŞİSEL GELİŞİM KİTAPLARI" /></a></li>
            <li><a href="http://localhost:51640/Romantik"><img src="~/ımage/acromantık.jpg" width="300" height="400" title="ROMANTİK KİTAPLAR" /></a></li>
            <li><a href="http://localhost:51640/Komedi"><img src="~/ımage/ackomedi.jpg" width="300" height="400" title="KOMEDİ KİTAPLARI" /></a></li>
            

        </ul>
    </div>
    
</div>